<h1><%= @bucket.name %></h1>
<% @bucket.items.each do |item| %>
<p><%= item.name %></p>
<% end %>
<br />
<%= link_to 'Edit Items', bucket_items_path(@bucket) %>
<%= link_to 'Delete Bucket', bucket_path(@bucket), method: :delete %>
